<nav class="nav-extended">
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="/{{ queue }}">Delayed</a></li>
            <li class="tab"><a href="#test4">Waiting</a></li>
            <li class="tab"><a class="active" href="#test4">Active</a></li>
            <li class="tab"><a href="#test2">Paused</a></li>
            <li class="tab"><a href="#test4">Completed</a></li>
            <li class="tab"><a href="#test4">Failed</a></li>
        </ul>
    </div>
</nav>
